<div class="top-container">
  <div class="text-top">
    <div class="first-text">
      <p>Anais do simpósio Latino Americano de Ciências de Alimentos</p>
      <h3>Anais do 13º Simpósio Latino Americano de Ciências de Alimentos</h3>
    </div>
    <div class="secound-text">
      <p>ISSN: 1234-5678</p>
    </div>
  </div>
  <div class="control">
    <label for="age_group">Age Group</label
    ><select id="age_group">
      <option>PT,BR</option>
      <option>ENG</option>
      <option>ES</option>
    </select>
  </div>
  
</div>
