* {
  margin: 0px;
  padding: 0px;
}

.top-container {
  margin: 0px 10px;
  display: grid;
  gap: 10px;
  min-height: 100vh;
  grid-template-columns: 80% 1fr 1fr;
  grid-template-rows: 68px 1fr;
  column-gap: 5px;
  row-gap: 5px;

  .text-top {
    .first-text,
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #725c5c;
    }
    .first-text,
    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #725c5c;
    }
    .secound-text {
    }
  }
  .control {
    #age_group {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #333333;
    }
  }

  .login-user {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #333333;
  }
}

.picture-profile {
}
