* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

* {
  margin: 0px;
}
.app-container {
  display: grid;
  grid-template-areas:
    "side top"
    "side page"
    "side footer";
  grid-template-columns: 220px 1fr;
  grid-template-rows: 68px 1fr 181px;
  min-height: 100vh;

  .top-navbar {
    border: solid 1px black;
    grid-area: top;
  }

  .side-navbar {
    grid-area: side;
  }

  .page-container {
    border: solid 1px orange;
    grid-area: page;
  }

  .footer {
    border: solid 1px red;
    grid-area: footer;
  }
}
