* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

* {
  margin: 0px;
}
.app-container {
  display: grid;
  grid-template-areas:
    "side top"
    "side page"
    "side footer";
  grid-template-columns: 220px 1fr;
  grid-template-rows: 68px 1fr 181px;
  min-height: 100vh;
  .subtitle {
    margin-bottom: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ed7839;
  }
  .top-navbar {
    margin-left: 0px;
    grid-area: top;
    background: #fdf1eb;
  }

  .side-navbar {
    grid-area: side;
  }

  .page-container {
    margin-left: 50px;
    grid-area: page;
    margin-bottom: 500px;
    width: 1058px;
    height: 621px;
    left: 0px;
    top: 761px;
    border: 1px solid #ececec;
    border-radius: 3px;
  }
  .video-overlay {
    display: flexbox;
    flex-direction: column;
  }

  .footer {
    margin-left: 10px;
    grid-area: footer;
  }
}
